@use "bootstrap/scss/bootstrap" as * with (
  $font-family-sans-serif: #{ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji", Arial, Helvetica},

  $h1-font-size: 1.875rem,
  $h2-font-size: 1.5rem,
  $h3-font-size: 1.124rem,
  $h4-font-size: 1rem,
  $h5-font-size: 1rem,
  $h6-font-size: 1rem,

  $spacers: (
    0:  0,
    1:  0.25rem, /*  4px */
    2:  0.50rem, /*  8px */
    3:  0.75rem, /* 12px */ 
    4:  1.00rem, /* 16px */
    5:  1.25rem, /* 20px */
    6:  1.50rem, /* 24px */
    10: 2.50rem, /* 40px */
  ),

  $navbar-nav-link-padding-x: 1rem,

  $dark: #434c55,
  $blue: #0969da,
  $green: #39b54a,

  $form-label-font-weight: 500,
  $form-text-margin-top: 0,

  $offcanvas-horizontal-width: 600px,
);

@use "includes/components/navbar";
@use "includes/components/forms";
@use "includes/components/table";
@use "includes/components/jumbotron";
@use "includes/components/challenge";
@use "includes/components/sticky-footer";
@use "includes/components/graphs";

@use "includes/utils/fonts";
@use "includes/utils/opacity";
@use "includes/utils/min-height";
@use "includes/utils/cursors";
@use "includes/utils/lolight";

@use "includes/icons/award-icons";
@use "includes/icons/flag-icons";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jost, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji", Arial, Helvetica;
}

h1,
h2 {
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

blockquote {
  border-left: 4px solid $secondary;
  padding-left: 15px;
}

input,
select {
  height: auto !important;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-size: 8px 10px;
}
