{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>
        {% trans %}Login{% endtrans %}
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col mx-auto">
        {% include "components/errors.html" %}

        {% if integrations.mlc() %}
          <a class="btn btn-secondary btn-lg btn-block w-100" href="{{ url_for('auth.oauth_login') }}">
            Login with Major League Cyber
          </a>

          <hr>
        {% endif %}

        {% with form = Forms.auth.LoginForm() %}
          <form method="post" accept-charset="utf-8">
            <div class="mb-6">
              <b>{{ form.name.label(class="form-label") }}</b>
              {{ form.name(class="form-control", value=name, autocomplete="username email") }}
            </div>

            <div class="mb-6">
              <b>{{ form.password.label(class="form-label") }}</b>
              {{ form.password(class="form-control", value=password, autocomplete="current-password") }}
            </div>

            <div class="row pt-3 align-items-baseline">
              <div class="col-6 col-md-4">
                {{ form.submit(class="btn btn-block btn-success") }}
              </div>

              <div class="col-6 col-md-8 text-end">
                <a href="{{ url_for('auth.reset_password') }}">
                  {% trans %}Forgot your password?{% endtrans %}
                </a>
              </div>
            </div>

            {{ form.nonce() }}
          </form>
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
