.form-text {
    display: block;
    margin-bottom: .25rem;
}

.form-control {
    padding: .5rem .75rem;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-color: #fff;
}
