/* Jumbotron styles
-------------------------------------------------- */

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  background-color: var(--bs-dark);
  color: var(--bs-white);
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
